@if (viewAeroVendas.Any())
{

	<table class="table table-success table-hover shadow">
		<thead>
			<tr>
				<th scope="col">Contrato</th>
				<th scope="col">Carteirinha</th>
				<th scope="col">Nome do Beneficiário Titular</th>
				<th scope="col">Prêmio Atual</th>
				<th scope="col">Dependentes</th>
				</tr>
		</thead>
		<tbody>
			@foreach (var viewItemAeroVenda in viewAeroVendas)
			{
				<tr >
					<td class="align-middle small">
						@viewItemAeroVenda.Contrato
					</td>
					<td class="align-middle small">
						<small>@viewItemAeroVenda.CodigoBeneficiario</small>
					</td>
					<td class="align-middle small">
						<small>@viewItemAeroVenda.NomeBeneficiario</small>
					</td>
					<td class="align-middle small">
						<small>@viewItemAeroVenda.PremioAnual</small>
					</td>
					<td class="align-middle small">
						<small>@viewItemAeroVenda.NumeroDependentes</small>
					</td>

				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="text-center">
		<button class="btn btn-success" type="button" disabled>
			<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
			Carregando...
		</button>
	</div>
}
